.left_social_bar {
  position: fixed;
  left: 2.5%;
  top: 80%;
  transform: translateX(-50%);
  width: 5%;
  height: 100vh;
  overflow-y: scroll;
}

.left_social_bar ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  color: #FFFFFF80;
  transition: transform 0.3s;
}

li:hover {
  color: #FFFFFF;
  transform: scale(1.1);
  cursor: pointer;
}

