@import url(./Components/Fonts/Fonts.css);

body {
  width: 95%;
  max-width: 95%;
  background-color: #0D0F16;
  color: #FFFFFF;
  overflow-x: hidden;
}

section {
  margin-left: 5%;
}

footer {
  margin-left: 5%;
}